th{
	background-color : black;
	color : #d6d6d6;
	text-align : left;
}
table{
	width : 500px;
	height : 150px;
	background-color : #303030;
	color : #efefef;
	border : solid #dcdcdc;
}
td{
	border : 1px solid black;
	color : #efefef;
}
sub{
	color : #8e8e8e;
	
}